<head>
    <link rel="shortcut icon" href="~/icons/calculator.ico" />
    <title>Calculator</title>
    <link href="~/css/calculator.css" rel="stylesheet" />
    <script src="~/js/calcButtons.js" defer></script>
    <script src="~/js/calcFunc.js" defer></script>
</head>

<body onload="RenderCalc('amator')">
    <div id="calculatorBody">
        <div id="calc" class="calculator">
            <input class="mini-value" type="text" name="txt" id="mini-screen" readonly />
            <input class="value" type="text" name="txt" id="screen" readonly />
        </div>
    </div>
</body>
