#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    text-align: center;
    font-size: 100px;
}

.screenSize {
    position: relative;
    display: inline-block;
}

.screenSizeButton {
    background-color: #ff9999 !important;
    color: white !important;
    padding: 5px !important;
    width: 100px !important;
    font-size: 16px !important;
    border: none !important;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    border-radius: 20px 20px 20px 20px !important;
    margin-bottom: 1px;
    min-width: 0 !important;
    padding: 0rem 0 !important;
}

    .screenSizeButton:hover {
        color: black;
        font-weight: bold;
    }

.screenSize:hover .screenSizeButtonContent {
    display: block;
}

.screenSizeButtonContent {
    display: none;
    position: absolute;
    background-color: #FFB7B7;
    color: white;
    min-width: 100%;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

    .screenSizeButtonContent a {
        display: block;
    }

        .screenSizeButtonContent a:hover {
            background-color: #ff9999;
            color: black;
            font-weight: bold;
        }

        .screenSizeButtonContent a span {
            margin-left: 10px;
        }

.start {
}

.startButton {
    background-color: #ff9999;
    color: white;
    padding: 5px;
    width: 100px;
    font-size: 16px;
    border: none;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}
